/* Screen width: 320px, height: 480px */
/*
muted text: #AAAAAA;
*/
#mainView {
  background-color: white;
}
#timerLabel {
  top: 160px;
  left: 60px;
  width: 200px;
  height: 60px;
  font-size: 60px;
  text-align: center;
}
#timerButton {
  /* 160px + 60px + 1px (padding) */
  top: 230px;
  left: 60px;
  width: 200px;
  height: 40px;
  background-color: green;
  color: white;
}
#currentTaskLabel {
  top: 360px;
  left: 60px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #AAAAAA;
}
#taskLabel {
  top: 400px;
  left: 60px;
  width: 200px;
  height: 30px;
  font-size: 20px;
  color: #333333;
}
.emptyLabel {
  top: 200px;  
  left: 0;
  
  width: 320px;
  height: 30px;

  font-size: 18px;
  color: #AAAAAA;
  text-align: center;
}